.reviews {
  padding: 40px 0 180px;
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("../img/reviews-bg.svg");
  background-position: top 75px right;
  background-repeat: no-repeat;

  @include max(1100) {
    padding: 0 0 50px;
    margin-top: -100px;
    background-size: 40%;
    background-position: top right;
  }
}

.reviews__inner {
  padding-top: 73px;
  padding-left: 70px;
  padding-right: 96px;
  display: flex;
  justify-content: space-between;

  @include max(1300) {
    padding-left: 0;
    padding-right: 0;
  }

  @include max(1100) {
    flex-direction: column-reverse;
    align-items: center;
    padding: 0;
  }
}

.reviews__info {
  margin-right: 20px;

  @include max(1100) {
    margin-right: 0;
  }
}

.reviews__title {
  max-width: 480px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  margin: 0 0 30px 0;

  @include max(450) {
    text-align: center;
    width: 100%;
  }
}

.reviews__title-text {
  display: inline-block;
  padding-left: 25px;

  @include max(450) {
    padding-left: 0;
    font-size: 18px;
  }
}

.reviews__accent {
  display: inline-block;
  font-size: 150px;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, #19db8c 0%, #40AB99 100%);

  @include max(1200) {
    font-size: 120px;
  }

  @include max(450) {
    font-size: 80px;
  }
}

.reviews__list {
  @include lsr;
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin-left: 5px;

  @include max(1200) {
    max-width: 490px;
  }
}

.reviews__item {
  width: 25%;
  opacity: 0.6;
  transition: opacity 0.3s;

  & img {
    display: block;
  }

  &:hover {
    opacity: 1;
  }

  @include max(500) {
    width: 33.33%;
  }

  @include max($xs) {
    width: 50%;
  }
}

.reviews__slider {
  position: relative;
  max-width: 560px;
  width: 100%;
  padding: 60px 57px 0;

  @include max(1200) {
    padding: 60px 30px 0;
  }

  @include max(1100) {
    padding-top: 0;
    padding-bottom: 40px;
  }

  @include max(450) {
    padding: 0 0 40px 0;
  }
}

.reviews__slider-item {
  padding: 32px;

  @include max(450) {
    padding: 20px;
  }
}

.reviews__slider-inner {
  position: relative;
  background-color: $white;
  padding: 45px 47px 56px;
  border-radius: 20px;
  box-shadow: $btn-shadow-outline;

  @include max(450) {
    padding: 20px;
  }

  &::before {
    content: ",,";
    position: absolute;
    top: -10px;
    left: -25px;
    color: $green;
    font-size: 110px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1;
    transform: rotate(180deg);

    @include max(450) {
      font-size: 80px;
      left: -10px;
    }
  }

  &::after {
    content: ",,";
    position: absolute;
    bottom: -25px;
    right: -30px;
    color: $green;
    font-size: 110px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 1;
    text-shadow: 0 0 3px rgba($white, 1);

    @include max(450) {
      font-size: 80px;
      right: -10px;
      bottom: -10px;
    }
  }
}

.reviews__text {
  margin: 0 0 46px 0;
  line-height: 1.7;
  font-size: 14px;
  color: $text-black;

  @include max(450) {
    margin: 0 0 20px 0;
  }
}

.reviews__name {
  text-align: right;
  margin: 0 0 5px 0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.2px;
}

.reviews__company {
  text-align: right;
  margin: 0;
  font-weight: 700;
}

.reviews__slider-btn {
  position: absolute;
  appearance: none;
  width: 30px;
  height: 30px;
  background-color: $white;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  @include max(450) {
    display: none;
  }

  &:hover {
    box-shadow: $btn-shadow-outline;
  }

  &--prev {
    left: 0;
    top: 43%;

    & .slider__arrow {
      margin-right: 2px;
    }
  }

  &--next {
    right: 0;
    top: 43%;

    & .slider__arrow {
      margin-left: 2px;
    }
  }
}

.slider__arrow {
  fill: transparent;
  stroke: $green;
}


.slick-dots {
  @include lsr;
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  justify-content: center;
  margin-top: 18px;

  & li {
    margin-right: 15px;
    box-shadow: 0 0 5px 0 rgba($white, 1);
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }
  }

  & button {
    border: none;
    appearance: none;
    background-color: $dots-bg;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
  }

  & .slick-active button {
    background-color: $green;
  }
}

