.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  box-shadow: $btn-shadow;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  appearance: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  background-image: $btn-gradient;
  cursor: pointer;
  color: $white;
  padding: 14px;
  min-width: 220px;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: $btn-gradient-hover;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &--outline {
    background-image: none;
    background-color: $white;
    color: $btn-text-outline;
    min-width: 210px;
    box-shadow: $btn-shadow-outline;
    transition: box-shadow 0.3s;

    &::before {
      content: none;
    }

    &:hover {
      box-shadow: $btn-shadow-outline-hover;
    }
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}
