+b.SECTION.hero
  .container
    +e.inner
      +e.info
        +e.H1.title Запускаем обучение сотрудников
        +e.P.text Для этого у нас есть: конструктор курсов и тестов, вебинары, библиотека готовых курсов, гибкие отчёты, мобильное приложение, всевозможные полезные интеграции и заботливая техподдержка.
        +e.controls
          +lnk('Попробовать демо', '#', 'btn--hero')
          +lnk('Узнать больше', '#', 'btn--outline')
      +e.img
        +picture('header-img', 'Обучение сштрудников', 'png')
