+b.HEADER.header
  .container
    +e.inner
      +e.logo
        img(src="img/logo.svg")
      .header__wrap
        include ../../components/nav/nav
        +e.A.phone(href="tel:74956603843") +7 (495) 660-38-43
        +lnk('Попробовать демо', '#', 'btn--demo')
        +e.A.enter(href="#") Войти
      include ../../components/burger/burger
