+b.HEADER.header
  .container
    +e.text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero numquam sint perferendis magni? Ipsam odit voluptate debitis atque error ab itaque dignissimos eum, expedita odio possimus numquam impedit dolores dolore.
